* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
}

#header-info-agency {
  font-size: 24px;
  font-weight: 650;
}

.header-info-desc {
  font-weight: 500;
}

#header-close {
  font-size: 24px;
  font-weight: 100;
}

.logo-container {
  margin-top: 20px;
  margin-bottom: 30px;
}

#logo {
  width: 100%;
  height: 100%;
}

#clock {
  width: 100%;
  text-align: center;
  font-size: 55px;
  font-weight: 700;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 10px;
  text-wrap: nowrap;
}

#quantity-label {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  background-color: #2899D4;
  color: white;
  border-radius: 30px;
  margin-bottom: 20px;
  display: flex;
  align-items:flex-end;
  justify-content: center;
}

.pass-info {
  padding: 15px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(189, 189, 189, 0.9);
}

#pass-info-title {
  font-size: 25px;
  font-weight: 600;
}

#pass-info-location {
  font-size: 14px;
  color: grey;
  font-weight: 500;
}

.pass-info-expiry {
  margin-top: 40px;
  font-size: 15px;
  font-weight: 700;
}

#menu-title {
  text-align: center;
  font-size: 46px;
  margin-bottom: 40px;
}


#menu-buttons {
  display: flex;
  flex-direction: column;
  height: 65vh;
  justify-content: space-evenly;

}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #414141;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(189, 189, 189, 0.9);
  font-size: 35px;
  font-weight: 600;
}

.btn-rta {
  background-color: #f3c93f;
}

.btn-jpt {
  background-color: #1e068a;
  color: white;
}

#subtext {
  text-align: center;
}

#quantity-selector-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#quantity-selector-container label {
  font-size: 24px;
  margin-bottom: 5px;
}

#quantity-selector {
  width: 50%;
  height: 40px;
  border-radius: 7px;
  color: black;
  text-align: center;
  font-size: 24px;
}

#quantity-selector-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

#quantity-selector option {
  color: black;
}
