* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
}

#header-info-agency {
  font-size: 24px;
  font-weight: 650;
}

.header-info-desc {
  font-weight: 500;
}

#header-close {
  font-size: 24px;
  font-weight: 100;
}

.logo-container {
  margin-top: 20px;
  margin-bottom: 30px;
}

#logo {
  width: 100%;
  height: 100%;
}

#clock {
  width: 100%;
  text-align: center;
  font-size: 55px;
  font-weight: 700;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 15px;
  text-wrap: nowrap;
}

.pass-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(189, 189, 189, 0.9);
}

#pass-info-title {
  font-size: 25px;
  font-weight: 600;
}

#pass-info-location {
  font-size: 14px;
  color: grey;
  font-weight: 500;
}

.pass-info-expiry {
  margin-top: 40px;
  font-size: 15px;
  font-weight: 700;
}
